body {
    background-color: #e6f3ff;
    font-family: Helvetica;
}
  
.container {
    background-color: #fff;
    border-radius: 6px;
    overflow: hidden;
    max-width: 450px;
    margin: 100px auto;
    box-shadow: 0 10px 40px -14px rgba(135, 144, 158, 0.6), 0 10px 40px -10px rgba(135, 144, 158, 0.6);
}
  
.header {
    background-color: rgba(80, 103, 124, 0.73);
    padding: 10px 18px;
    font-size: 18px;
}

.label {
    font-size: 18px;
    font-style: bold;
    padding-bottom: 5px;
}

.footer {
    text-align: center;
    padding-bottom: 10px;
}

.error {
    color: red;
    padding-bottom: 5px;
}

.message {
    font-size: 18px;
    padding-bottom: 20px;
    text-align: center;
}

.success {
    color: green;
    padding-bottom: 5px;
}

.header h2 {
    display: inline-block;
    font-weight: normal;
    color: #fff;
    font-size: inherit;
    vertical-align: middle;
    margin: 0;
}

input {
    font-size: 18px;
    width: 100%; 
    padding: 2px;
}

button {
    background-color: lightseagreen; /* Green */
    border: none;
    color: white;
    padding: 3px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
  
main {
    margin: 30px 50px 50px 50px;
    
}
  
 